* { box-sizing: border-box; }

html { font-size: 100%; }


img {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 37.5rem) {
  .contain {
    overflow: auto;
    width: 100%;
  }

  header {
    text-align: left;
  }


  main {
    width: 50%;
    float: left;
  }

  aside {
    width: 50%;
    float: left;
  }
}
